
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.de\.hyperpodx\.com$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "http\:\/\/de\.hyperpodx\.com\/" [R=301,L]

