
RewriteEngine on
RewriteCond %{HTTP_HOST} ^hyperpodx\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.hyperpodx\.com$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "http\:\/\/de\.hyperpodx\.com" [R=301,L]
RewriteCond %{HTTP_HOST} ^hyperpodx\.matemake\.co\.uk$ [OR]
RewriteCond %{HTTP_HOST} ^www\.hyperpodx\.matemake\.co\.uk$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "http\:\/\/en\.hyperpodx\.com" [R=301,L]

